[Unit]
Description=Start tcruznamassa app

[Service]
User=tcruz
WorkingDirectory=/home/vagrant/tcruznamassa/infraascode
ExecStart=/bin/bash startup.sh
Restart=always

[Install]
WantedBy=multi-user.target
